body {
  font-family: sans-serif;
}
canvas {
  width: 400px;
  height: 200px;
  box-shadow: 0px 0px 30px 30px black;
  position: absolute;
  top: 170px;
  left: 400px;
}
a {
  border-width: 3px;
  border-style: solid;
  position: absolute;
  bottom: 10px;
  left: 600px;
}
